## 1. Split this string

# Basic Python

In [ ]:
s = "Hi there Sam!"

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:

planet = "Earth"
diameter = 12742
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d ['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [ ]:
import numpy as np
x=np.arange(2,11).reshape(3,3)
print(x)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
import numpy as np
zeroarray=np.zeros(10)
print(zeroarray)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
fivearray=np.ones(10)*5
print(fivearray)

NameError: ignored

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
even = np.arange( 20,35,2 )
print( even )

NameError: ignored

## 6. Create a 3x3 matrix with values ranging from 0 to 8

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a=np.array([1,2,3])
b=np.array([4,5,6])
np.concatenate((a,b),axis=0)
np.concatenate((a,b.T),axis=0)
np.concatenate((a,b),axis=None)

NameError: ignored

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:

import pandas as pd
data=[['tom',10],['nick',15],['juli',14]]
df=pd.DataFrame(data,columns=['Name','Age'])
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:

import pandas as pandas
lists=[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
df=pd.DataFrame(lists, columns=['Sl.No','Name','Number'])
print(df)

   Sl.No Name  Number
0      1  aaa      22
1      2  bbb      25
2      3  ccc      24